<p akugb=:keft>  
	<img src="./assets/04_Verification_titlebar_dark.png#gh-dark-mode-only" alt="banner dark">  
	<img src="./assets/04_Verification_titlebar_light.png#gh-light-mode-only" alt="banner light">  
</p>  

# 実機検証
## USB接続での検証  
　tmct_flt.apkを実機にインストールし、検証します。

<img src="./assets/Situation.png" width="640">
