<p akugb=:keft>  
	<img src="./assets/04_Verification_titlebar_dark.png#gh-dark-mode-only" alt="banner dark">  
	<img src="./assets/04_Verification_titlebar_light.png#gh-light-mode-only" alt="banner light">  
</p>  

# 実機検証																<!-- 04 -->  
　スマートフォン[EXPERIA10 IV]での検証を行います。  

> [!NOTE]  
> 縮小表示されている画像は⬇️で拡大されます。  
> 
> ```pwsh  
> ※ 記号例  
> 　🪟:デスクトップ、⬇️:マウスクリック、 [･･･]:ボタン、<･･･>:Press the Key、⇒:次動作、#･･･:コメント  
> 　"･･･":テキスト、a/b:選択(a or b)、｢･･･｣:ウィンドウ/メニュー/フォーム、  
> ```  

## 配布版作成															<!-- 04-01 -->  
## USB接続でのインストール  
### スマートフォン側USBデバッグ準備  
### スマートフォン ️<img src="./assets/env/W-allow.png" height="11"> PC有線接続  
### アプリケーションインストール & 実行  

## GitHubからインストール  
### .apkダウンロード & インストール

## 検証
### 検証作業  


